@model IEnumerable<Hospital.Models.Admissions>

@{
    ViewData["Title"] = "Current Admissions";
}

<h1>Current Admissions</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-action="Index" method="get">
    <p>
        Nursing Unit Manager:
        <select asp-for="@Model.FirstOrDefault().NursingUnitId" asp-items="@ViewBag.NursingUnitId"></select>
        <input type="submit" value="Filter" class="btn btn-primary" /> |
        <a asp-action="Index">All Admitted Patients</a>
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Patient
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrimaryDiagnosis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SecondaryDiagnoses)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Room)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NursingUnit)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Patient.LastName),
                @Html.DisplayFor(modelItem => item.Patient.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrimaryDiagnosis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecondaryDiagnoses)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Room)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NursingUnitId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
